#profile {
  height: 500px; 
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #183661;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

#avatar img {
 margin: 0 auto;
}

#username {
  color: #ffffff;
  text-align: center;
}

#username span {
  font-weight: lighter;
}

@media only screen and (min-width: 1024px) {
  #profile {
    flex-basis: 30%;
    margin-left: 3rem;
    margin-top: 9rem;
    border: 1px transparent #183661;
    border-radius: 10px;
  }
}
