#nav-bar {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 1000;
  padding: 1.5em;
  font-size: 34px;
  background-color: #4056A1;
  color: #ffffff;
  font-family: 'Bungee', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-tweet {
  z-index: 1;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow-icon {
  animation: action 1s infinite  linear, changeColor 1s infinite linear
}

@keyframes action { 
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

@keyframes changeColor {
  0% { color: orange }
  100% { color: red }
}

#arrow-icon:hover {
  cursor: pointer;
}
